@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
body {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;

    margin-right: 5%;
    margin-left: 5%;
  }
head {
    background-color: rgb(50, 50, 50);
}
a {
  color: aquamarine;
}
a:visited {
  color: aquamarine;
}
/* NAVIGATION BAR */
.topnav {
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 0.2em;
}

.topnav a:visited {
 color: white;
}
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black !important ;
}

.topnav a.active {
  background-color: rgb(75, 75, 75);
  color: white !important;
}
/*API LIST LINK BUTTONS*/
.api-list-links {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgb(50, 50, 50);

  overflow: hidden;
}

.api-list-links a {
  background-color: rgb(60, 60, 60);
  color: white;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 1.2em;
}

.api-list-links a:visited{
  color:white
}
.api-list-links a:hover {
  background-color: rgb(255, 255, 255);
  color: black !important;
}


/*API LIST IMAGE ROWS*/
.row {
  display: flex;
  padding: 1.5em;
}
.example-column {
  flex: 33.33%;
  padding: 5px;
}
.example-column img {
object-fit: fill;
width: 100%;
height: 100%;
}



h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 0.2em;
    font-size: 3.5em;
}
h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 0.2em;
    font-size: 2em;
    
  }
  h3 {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 0.2em;
    font-size: 1.4em;
    
  }
code {
    font-family: 'Fira code', monospace;
    color: rgb(150, 255, 150);
}
.codeblock {
    font-family: 'Fira code', monospace;
    font-size: 0.8em;
    background-color:rgb(25, 25, 25) ;
    color: rgb(150, 255, 150);
    border-radius: 0.4em;
    overflow: auto;
    margin-right: 15%;
    margin-left: 5%;

}

img{
    width: 80%;
    object-fit: fill;
}