body {
    font-family: 'Comic Neue', cursive;
    background-color: rgb(0, 255, 0);
    color: red;
  }
head {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    background-color: rgb(0, 255, 0);
}
code {
    color: blue;
}
  h2 {
    font-family: 'Comic Neue', cursive;
    background-color: blue;
    color: red;
    text-align: center;
  }
  
  p {
    font-family: 'Comic Neue', cursive;
  }