body {
    font-size: 100%;
    font-family: 'Fira code', monospace;
    background-color: rgb(50, 50, 50);
    color: white;
  }
head {
    font-family: 'Fira code', monospace;
    background-color: rgb(50, 50, 50);
}
h1 {
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 0.2em;
    font-size: 3.5em;
}
h2 {
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 0.2em;
    
  }
code {
    color: rgb(150, 255, 150);
}
a {
    color: aquamarine;
  }
a:visited {
    color: aquamarine;
  }
img{
    width: 100%;
    object-fit: fill;
}